/* styles.css */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: darkblue;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none; /* �⺻ ��ư ��Ÿ���� ���ֱ� ���� */
    cursor: pointer; /* ���콺�� �÷��� �� ������ Ŀ���� ���� */
    transition: background-color 0.3s ease; /* ������ �ε巴�� ����ǵ��� Ʈ������ �߰� */
}

    .button:hover {
        background-color: gray; /* ���콺�� �÷��� �� ���� ���� */
    }

    .button:active {
        background-color: navy; /* ��ư�� Ŭ������ �� ���� ���� */
        transform: scale(0.98); /* Ŭ������ �� ��ư�� ��¦ �۾����� ȿ�� */
    }

.nodeButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    background-color: darkgreen;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none; /* �⺻ ��ư ��Ÿ���� ���ֱ� ���� */
    cursor: pointer; /* ���콺�� �÷��� �� ������ Ŀ���� ���� */
    transition: background-color 0.3s ease; /* ������ �ε巴�� ����ǵ��� Ʈ������ �߰� */
    margin: 10px 0;
}
.nodeButton:hover {
    background-color: gray; /* ���콺�� �÷��� �� ���� ���� */
}

.nodeButton:active {
    background-color: navy; /* ��ư�� Ŭ������ �� ���� ���� */
    transform: scale(0.98); /* Ŭ������ �� ��ư�� ��¦ �۾����� ȿ�� */
}
.container {
    display: flex;
    align-items: center;
}
.text {
    flex: 1;
}
